/*Se importa la tipografía desde google*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/*?ESTILOS BASE GENERALES*/
/**Variables globales*/
:root{
    --white-color:#fff;
    --background-color: #eeeeee;
    --title-color:#506591;
    --paragraph-color:#2B2B2B;
}

/**Se resetea el diseño por defecto del navegador y demás*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-align: center;
    color:var(--white-color);
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-color);
    /* display: grid;
    place-content: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

img{
    max-width: 50vw;
    object-fit: cover;
}

h1 {
    color: var(--title-color);
    font-size: 15rem;
    margin-bottom: 0;
    transform: skew(10deg) rotate(-10deg);
    white-space: nowrap;
    overflow: hidden;
    margin-left: 10px;
    animation: glitch 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
    transition: all 0.5s ease-in-out;
    user-select: none;
    margin-bottom: 40px;
}

@keyframes glitch {
    0% {
        color:#31497c;
        clip: rect(22px, 9999px, 93px, 0);
        transform: skew(10deg) rotate(-10deg);
    }
    20% {
        clip: rect(60px, 9999px, 19px, 0);
        transform: skew(10deg) rotate(-10.2deg);
    }
    40% {
        color:var(--paragraph-color);
        clip: rect(63px, 9999px, 39px, 0);
        transform: skew(10deg) rotate(-9.8deg);
    }
    60% {
        clip: rect(74px, 9999px, 64px, 0);
        transform: skew(10deg) rotate(-10.1deg);
    }
    80% {
        color:#31497c;
        clip: rect(34px, 9999px, 87px, 0);
        transform: skew(10deg) rotate(-9.9deg);
    }
    100% {
        clip: rect(60px, 9999px, 19px, 0);
        transform: skew(10deg) rotate(-10deg);
    }
}

h1:hover{
    animation: rainbow 0.15s linear infinite;
}
@keyframes rainbow {
    0% {
      color: rgb(231, 99, 99); /* Rojo */
    }
    17% {
      color: rgb(219, 219, 56); /* Amarillo */
    }
    34% {
      color: #0f0; /* Verde */
    }
    51% {
      color: #0ff; /* Cyan */
    }
    68% {
      color: rgba(160, 211, 190, 0.692); /* Azul */
    }
    85% {
      color: #f0f; /* Magenta */
    }
    100% {
      color: rgb(231, 99, 99); /* Rojo */
    }
}

p{
    color:var(--paragraph-color);
    font-size: 1.1rem;
    font-weight: 500;
    margin-bottom: 2rem;
    padding:10px;
}

a{
    position:relative;
    background-color: var(--paragraph-color);
    text-decoration: none;
    padding: .5rem 1rem;
    border-radius: .3rem;
    overflow: hidden;
    z-index: 1;
}

.button-404{
    font-size: 1.1rem;
    background-color:  var(--paragraph-color);
    border:none;
    cursor:pointer;
    width: fit-content;
    outline: none;
    border-radius: 49px;
    color: var(--white-color);
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    border-radius: .3rem;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    transition: opacity .5s all;
    -webkit-transition: opacity .5s all;
    -moz-transition: opacity .5s all;
    -ms-transition: opacity .5s all;
    -o-transition: opacity .5s all;
}
.btn404Back{
    background-color:  var(--title-color);
    transition: opacity .5s all;
    -webkit-transition: opacity .5s all;
    -moz-transition: opacity .5s all;
    -ms-transition: opacity .5s all;
    -o-transition: opacity .5s all;
}
/**Estilo para el botón*/
.button-404:hover{
    background-color:  #111111;
    transition: opacity .5s all;
    -webkit-transition: opacity .5s all;
    -moz-transition: opacity .5s all;
    -ms-transition: opacity .5s all;
    -o-transition: opacity .5s all;  
}
.btn404Back:hover{
    background-color:  #31497c;
}
@media only screen and (max-width: 1400px){
    h1{
        font-size: 12rem;
        margin-left: 10px;
    }
}
@media only screen and (max-width: 1000px){
    .container{
        flex-direction: column;
    }
    body{
        flex-direction: row;
    }
    img{
        margin-top: 20px;
    }
    h1{
        color:var(--title-color);
        font-size: 10rem;
    }
    
    p{
        font-size: 1.1rem;
    }
}
@media only screen and (max-width: 600px){
    .buttons-Section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-404{
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 500px){
    h1{
        color:var(--title-color);
        font-size: 5rem;
    }
    p{
        margin-top: 20px;
        font-size: .9rem;
        padding-left: 15px;
        padding-right: 15px;
    }
    .button-404{
        font-size: .9rem;
    }
    img{
        max-width: 260px;
        object-fit: cover;
    }
}