/*Se importa la tipografía desde google*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
/*?----------------------VARIABLES GLOBALES---------------------------*/
:root{
    /* Colores */
    --main-home-color:#506591;
    --home-text-color:#464646;
    --home-background-color: #e9e9e9;
    --white-home-color:#fff;
    --gray-home-color:#c9c9c9;
    --border-home-color:#a0a0a08a;
    --footer-bgr-color:#2B2B2B;
    --hover-navBarHome1: #33508f;
    --hover-navBarHome2: #415fa0;
    --secondary-main-homeColor:#678c8f;
    
    --hexagonN1:rgb(231, 99, 99);
    --hexagonN2:rgb(104, 104, 255);
    --hexagonN3:rgb(79, 170, 114);
    --hexagonN4:rgb(90, 11, 77);

    --colorTableN1: rgb(80, 121, 104);
    --colorTableN2: rgb(46, 68, 57);
    --colorTableN3: rgba(160, 211, 190, 0.692);
    --colorTableN4: rgb(73, 148, 117);

    /* Párrafos generales del repositorio*/
    --phrgp-home-normal-font-size: 1rem;
    --phrgp-home-medium-font-size:0.9rem;
    --phrgp-home-tiny-font-size:0.8rem;
    --phrgp-home-supertiny-font-size:0.7rem;

    /* Títulos preguntas frecuentes */
    --question-homepq-normal-font-size: 1rem;
    --question-homepq-medium-font-size:0.9rem;
    --question-homepq-tiny-font-size:0.6rem;

    /* Títulos campos filtros */
    --titleFilterHome-normal-fz:1.2rem;
    --titleFilterHome-medium-fz:1.1rem;
    --titleFilterHome-tiny-fz:1rem;

    /* Títulos principales */
    --normal-font-size-mainSectionHome:1.3rem;
    --medium-font-size-mainSectionHome:1.2rem;
    --tiny-font-size-mainSectionHome:1.1rem;
    --supertiny-font-size-mainSectionHome:0.7rem;

    /* Título páginas búsquedas*/
    --title-font-size: 2.2rem;
    --title-tablet-font-size: 1.9rem;
    --title-mobile-font-size: 1.7rem;
}
/*?---------------SETEO DE ESTILOS POR DEFAULT DEL NAVEGADOR----------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--home-background-color);
}


/*?-------------------------ESTILO BARRA HORIZONTAL------------------------*/
::-webkit-scrollbar {
    width: 9px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: var(--home-text-color);
    border-radius: 12px;
    transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-home-color);
}




/*! ************************** HOME PRINCIPAL INDEX ***********************/
/*?----------------BARRA DE NAVEGACIÓN HOME----------------*/
/*Contenedor principal barra nav*/
.nav-Home-Main{
    background-color: var(--white-home-color);
    width: 100%;
    height: 70px;
}
.nav-Home-Main:after{
    content: '';
    clear: both;
    display: table;
}
/*Título logo repositorio instiucional*/
.nav-Home-Main .logo-Home{
    float: left;
    color:var(--main-home-color);
    font-size: var(--normal-font-size-mainSectionHome);
    font-weight: 600;
    line-height: 65px;
    -webkit-user-select:none;
    user-select: none ;
    padding-left: 15px;
}
/*Items de la lista ul*/
.nav-Home-Main .ul-Home{
    float: right;
    list-style: none;
    margin-right: 55px;
    position: relative;
}
/*Lista de forma horizontal*/
.nav-Home-Main .ul-Home .li-Home{
    float: left;
    margin:0 5px;
}
/*Estilo de las etiquetas a. Texto opciones*/
.nav-Home-Main .ul-Home .li-Home .a-HomeNav{
    color:var(--home-text-color);
    text-decoration: none;
    line-height: 70px;
    font-size: var(--phrgp-home-normal-font-size);
    padding: 8px 15px;
    transition:all .2s;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
}
.nav-Home-Main .ul-Home .li-Home .a-HomeNav:hover{
    color:var(--main-home-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--hover-navBarHome1),
                0 0 5px var(--hover-navBarHome2);
}
.nav-Home-Main .ul-Home .ul-SubMenu .li-Home .a-HomeNav:hover{
    color:var(--main-home-color);
    box-shadow: none;
}
/*Posicionar lista */
.nav-Home-Main .ul-Home .ul-SubMenu{
    position: absolute;
    top:90px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition:top .3s;
    -moz-transition:top .3s;
    -ms-transition:top .3s;
    -o-transition:top .3s;
    transition:top .3s;
    background-color: var(--white-home-color);
    border-top: 2px solid var(--main-home-color);
    width: auto;
}
/*Hover aparecer opciones */
.nav-Home-Main .ul-Home .li-Home:hover > .ul-Home{
    top:70px;
    opacity: 1;
    visibility: visible;
}
/*Submenu*/
.nav-Home-Main .ul-Home .ul-SubMenu .li-Home{
    position:relative;
    margin:0px;
    width: auto;
    float:none;
    display: list-item;
    border-bottom: 1px solid var(--border-home-color);
    overflow-x: hidden;
}
.nav-Home-Main .ul-Home .ul-SubMenu .li-Home .a-HomeNav{
    line-height: 50px;
}
.show-Perfil, .hamburguer-Menu, .input-HamburguerHome{
    display: none;
}
#checkHamburguesaHome{
    display: none;
}
.homeHideListFull{
    display: none;
}
/**LOGO Y NOMBRE*/
.nav-Home-Main .logo-section-Home{
    display: inline-flex;
    padding-left: 14px;
}
/*Contenedor del logo*/
.nav-Home-Main .logo-image-Home{
    display: flex;
    justify-content: center;
    min-width: 45px;
    background-color: var(--white-home-color);
    padding-top: 9px;
}
/*Logo*/
.nav-Home-Main .logo-image-Home .logo-ri-home{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
    margin-top: 3%;
}
/*Nombre*/
.nav-Home-Main .logo-section-Home .logo-name{
    font-size: 1.4rem;
    font-weight: 600;
    color:var(--main-home-color);
    margin-left: 14px;
    transition:var(--trans-05);
    -webkit-user-select: none;
    user-select: none;
}
.nav-Home-Main.close .logo-name{
    opacity: 0;
    pointer-events: none;
}
/*Botón Login énfasis*/
.homeHideListMin{
    background-color: var(--main-home-color);
    border-radius: 5px;
}
.nav-Home-Main .ul-Home .li-Home .homeHideListMin,
.nav-Home-Main .ul-Home .li-Home .homeHideListMin:hover{
    color:var(--white-home-color);
}
/*?--------------SECCIÓN BANNER ---------------*/
/*Contenedor principal*/
.bannerSearchHome-Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    max-width: 100%;
}
/*Banner imagen*/
.bannerSearchHome-Section .bannerImg{
    max-width: 100%;
    border-radius: 4px;
    margin-bottom: 20px;
}


/*?--------------SECCIÓN BARRA BÚSQUEDA ---------------*/
/*Contenedor de la barra de búsqueda*/
.form-BarraBusquedaHome{
    display: flex;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
}
.searchBar-Container{
    position: relative;
    height: 55px;
    width: 35rem;
    /* margin: 0px 30px; */
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
}
/*Input para buscar*/
.searchBar-Container .input-SearchBar{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 70px 0 15px;
    outline: none;
    border: none;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    font-size: var(--phrgp-home-normal-font-size);
    font-weight: 500;
    color:var(--home-text-color);
    background-color: var(--white-home-color);
}
/*Input para buscar*/
.searchBar-Container .input-SearchBar:focus{
    border:1px solid var(--main-home-color);
}
/*Contenedor del ícono de buscar*/
.searchBar-Container .searchBar-IconContainer{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    background-color: var(--main-home-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    -ms-border-radius: 0 6px 6px 0;
    -o-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    border: none;
    outline: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.searchBar-Container .searchBar-IconContainer:hover{
    background-color: var(--hover-navBarHome2);
}
/*Icono de buscar*/
.searchBar-IconContainer .search-iconHome{
    font-size: 1.5rem;
    color: var(--white-home-color);
}
/*Icono de cerrar*/
.close-iconHome{
    position:absolute;
    right: -45px;
    top:50%;
    -webkit-transform:translateY(-50%);
    -moz-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -o-transform:translateY(-50%);
    transform: translateY(-50%);
    font-size: 1.5rem;
    color:var(--main-home-color);
    padding: 5px;
}
/*Mensaje contador de recursos en Home*/
.msg-total-resources{
    color:var(--home-text-color);
    font-size: var(--phrgp-home-normal-font-size);
    text-align: center;
    margin-bottom: 0.6rem;
    margin-top: 0.8rem;
}
.resources-total-count{
    font-weight: 700;
    color:var(--main-home-color);
}


/*?--------------SECCIÓN FILTROS PÁGINA PRINCIPAL (HEXAGONOS PANEL ABEJA) ---------------*/
/*Contenedor principal*/
.filters-main-container{
    max-width: 100%;
}
/*Título "Filtrar búsqueda por"*/
.filters-main-container .filter-main-Title{
    color:var(--main-home-color);
    text-align: center;
    font-size: var(--normal-font-size-mainSectionHome);
}
/*Contenedor de hexágonos*/
.filterHomeContainer{
    background: var(--white-home-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin-top: 2rem;
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
}
/*Filtro uno por uno*/
.filterHomeContainer .hexagonFilters:hover{
    display: flex;
    justify-content: center;
    align-items: center;
}
.filterHomeContainer .hexagonFilters.hxF1:hover{
    filter: drop-shadow(0px 0px 35px var(--hexagonN1));
}
.filterHomeContainer .hexagonFilters.hxF2:hover{
    filter: drop-shadow(0px 0px 35px var(--hexagonN2));
}
.filterHomeContainer .hexagonFilters.hxF3:hover{
    filter: drop-shadow(0px 0px 35px var(--hexagonN3));
}
.filterHomeContainer .hexagonFilters.hxF4:hover{
    filter: drop-shadow(0px 0px 35px var(--hexagonN4));
}
/*Forma hexagonal*/
.filterHomeContainer .hexagonFilters .hexagonShape{
    position: relative;
    width: 180px;
    height: 220px;
    margin:0 10px;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    background:var(--footer-bgr-color);
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor:pointer;
    transition: .5s;
    text-decoration: none;
}
/*Animación hover*/
.filterHomeContainer .hexagonFilters .hexagonShape:hover,
.filterHomeContainer .hexagonFilters .hexagonShape:active{
    transform: scale(0.9)
}
/*Color hexagono 1*/
.filterHomeContainer .hexagonFilters .hexShp1:hover,
.filterHomeContainer .hexagonFilters .hexShp1:active{
    background:var(--hexagonN1);
}
/*Color hexagono 2*/
.filterHomeContainer .hexagonFilters .hexShp2:hover,
.filterHomeContainer .hexagonFilters .hexShp2:active{
    background:var(--hexagonN2);
}
/*Color hexagono 3*/
.filterHomeContainer .hexagonFilters .hexShp3:hover,
.filterHomeContainer .hexagonFilters .hexShp3:active{
    background:var(--hexagonN3);
}
/*Color hexagono 4*/
.filterHomeContainer .hexagonFilters .hexShp4:hover,
.filterHomeContainer .hexagonFilters .hexShp4:active{
    background:var(--hexagonN4);
}
/*Tamaño del SVG*/
.filterHomeContainer .hexagonFilters .imageFilterHome{
    width: 40%;
}
/*Título del filtro*/
.titleFilterHome{
    text-transform: uppercase;
    color:var(--white-home-color);
    font-size: var(--titleFilterHome-normal-fz);
    font-weight: 600;
    margin-top: 10px;
    letter-spacing: 1px;
}


/*?--------------FOOTER---------------*/
.footer-Home{
    width: 100%;
    background-color:var(--footer-bgr-color);
    overflow-x: hidden;
    box-shadow: 0px -10px 10px 0px var(--border-home-color);
    /* margin-top: 30px; */
}

.footer-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}

.footer-Box{
    display: flex;
    flex-direction: column;
    padding: 20px 40px 20px 40px;
}

.footer-Box .logoFooter-Home .logo-RI-footerHome{
    width: 150px;
}

.footer-Box .mainText-Footer{
    max-width: 40rem;
    margin-top: 20px;
    color: var(--white-home-color);
    font-size: var(--phrgp-home-medium-font-size);
}

.footer-Box .h2-title-Footer{
    margin-bottom: 30px;
    color: var(--white-home-color);
    font-weight: 800;
    font-size: 25px;
}

.footer-Box .link-a-footer{
    margin-top: 10px;
    color: var(--white-home-color);
    font-weight: 600;
    font-size: var(--phrgp-home-tiny-font-size);
}

.footer-Box .link-a-footer:hover{
    opacity: 0.8;
}

.copyright-Box-Footer{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 10px;
}

.copyright-Box-Footer .rights-p-Footer{
    margin-top: 20px;
    color: var(--white-home-color);
    font-size: var(--phrgp-home-supertiny-font-size);
}

.copyright-Box-Footer .line-divide-footer{
    border: none;
    height: 1px;
    background-color: var(--white-home-color);
}
.centerInfoFooter{
    display: flex;
    flex-direction: column;
}






/*! ************ SECCIÓN PREGUNTAS FRECUENTES************/
.bodyFQ{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.bodyFQ .fq-main-Title {
    color: var(--main-home-color);
    text-align: center;
    font-size: var(--normal-font-size-mainSectionHome);
}
.wrapperFAQ{
    max-width:60%;
    padding: 20px 0 40px 0;
}
.wrapperFAQ .parentTabFAQ{
    margin-bottom: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow:0px 0px 10px rgba(0,0,0,0.126);
    -moz-box-shadow:0px 0px 10px rgba(0,0,0,0.126);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.126);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
.wrapperFAQ .parentTabFAQ:hover{
    -webkit-box-shadow:0px 0px 15px 1px var(--secondary-main-homeColor);
    -moz-box-shadow: 0px 0px 15px 1px var(--secondary-main-homeColor);
    box-shadow: 0px 0px 15px 1px var(--secondary-main-homeColor);
}
.wrapperFAQ .parentTabFAQ .labelFAQ,
.wrapperFAQ .answerFAQ .labelFAQ{
    background-color: transparent;
    padding: 10px  20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    position: relative;
    z-index: 99;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.wrapperFAQ .parentTabFAQ .labelFAQ:hover{
    background-color: var(--white-home-color);
}
.wrapperFAQ .labelFAQ .questionFAQ{
    color:var(--secondary-main-homeColor);
    font-size: var(--question-homepq-normal-font-size);
}
.wrapperFAQ .labelFAQ .iconFAQ{
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white-home-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.parentTabFAQ input:checked ~ .labelFAQ .iconFAQ i::before{
    transform: translate(0,-2px) rotate(180deg);
    -webkit-transform: translate(0,-2px) rotate(180deg);
    -moz-transform: translate(0,-2px) rotate(180deg);
    -ms-transform: translate(0,-2px) rotate(180deg);
    -o-transform: translate(0,-2px) rotate(180deg);
}
.wrapperFAQ .labelFAQ .iconFAQ i{
    position: absolute;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    color:var(--secondary-main-homeColor);
    font-size: var(--normal-font-size-mainSectionHome);
}
.wrapperFAQ .parentTabFAQ .contentFAQ{
    max-height: 0px;
    overflow: hidden;
    padding: 0px 20px;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-top: 1px solid var(--gray-home-color);
}
.parentTabFAQ .inputFAQ:checked ~ .contentFAQ{
    max-height: 100vh;
}
.parentTabFAQ .inputFAQ:not(:checked) ~ .contentFAQ{
    max-height: 0vh;
}
.wrapperFAQ .parentTabFAQ .contentFAQ .answerFAQ{
    font-size: var(--phrgp-home-normal-font-size);
    padding: 15px 20px;
    background: transparent;
    color:var(--home-text-color);
}
.wrapperFAQ .inputFAQ{
    display: none;
}




/*! ******************** SECCIÓN FILTROS ASIDE ******************/
/**Contenedor principal dividir tabla y filtrado*/
.mainContarinerFilters{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
    /* padding: 0 25rem; */
    gap: 10px;
    /* margin-left: 10rem;
    margin-right: 10rem; */
    max-width: 70vw;
    margin:0 auto;
    padding-top: 1rem;
}
/**Necesaria para el espacio entre tabla de datos y tabla filtrado*/
.tableWithContent{
    flex:1;
}
/**Tabla contenedora "Listar"*/
.asideFilters{
    flex-basis: 200px;
	background-color: var(--white-home-color);
    height: fit-content;
    padding-top: 7px;
    border-radius: 5%;
    border: 1px solid rgb(51,143,142);
}
/**Títuloi de tabla "Listar"*/
.asideFiltersTitle{
    text-align: center;
    font-weight: 500;
    font-size: 0.9rem;
    color: rgb(34, 66, 95);
    user-select: none;
    margin-top: 6px;
    padding-bottom: 5px;
}
.hasFile{
    border-top: 1px solid rgb(51,143,142);
    padding-top:7px;
    padding-bottom: 10px;

}
/** Cada uno de los ítems listados*/
.liAsideFilters{
    list-style:none;
    padding: 10px;
    border-top: 1px solid var(--gray-home-color);
    font-size: 0.9rem;
}
/**Estilo para la etiqueta <a> que enlaza la búsqueda*/
.aAsideFilters{
    color:var(--hover-navBarHome1);
    transition: all .1s ease;
    display: flex;
    justify-content: space-between;
}
.aAsideFilters:hover{
    text-decoration:underline;
    color:var(--hover-navBarHome1);
    font-weight: 600;
}
/**Evitar link <a> como "visitado"*/
.aAsideFilters:link{
    text-decoration: none;
}
.aAsideFilters:visited{
    text-decoration: none;
}
.asideFilters > .asideFiltersTitle{
    background: rgb(51,143,142);
    background: linear-gradient(360deg, rgba(51,143,142,1) 3%, var(--white-home-color) 100%);
}
/**Estilo número contador de cada uno de los filtros. Total Counter */
.asideFilterCounter{
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--main-home-color);
    color: var(--home-background-color);
}






/*! ***************** DATATABLE JQUERY *************/
    .general-tableJQ-container .title {
        display: flex;
        align-items: center;
        margin: 0 0 30px 0;
    }
    .general-tableJQ-container .title i{
        position: relative;
        height: 40px;
        width: 40px;
        background-color: var(--main-home-color);
        border-radius: 50%;
        color: var(--white-home-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--title-font-size);
        aspect-ratio: 1/1;
    }
    .general-tableJQ-container .title .panel-title-name{        
        font-size: var(--title-font-size);
        font-weight: 600;
        color: var(--home-text-color);
        margin-left: 10px;
        text-transform: uppercase;
    }

/** Título de columnas del datatable*/
.titleTableFilterSearch{
    cursor: pointer;
    font-weight: 800;
    font-size: var(--question-homepq-normal-font-size);
    font-weight: 600;
    color: var(--white-home-color);
    background-color: var(--colorTableN4);
    margin-left: 10px;
    text-transform: uppercase;
    transition: .2s all ease-in;
}
.titleTableFilterSearch:hover{
    color: var(--colorTableN2);
}
/**TABLA GENERAL RESPONSIVE*/
/*Tabla general*/
.table-dataJQ-container .tb-admin-records{
    width: 100%!important;
    border-collapse: collapse;
    padding-left: 200px;
    padding-right: 200px;
    font-size: var(--phrgp-home-medium-font-size);
}
/*Espaciado de la tabla*/
.table-dataJQ-container .tb-admin-records,
.table-dataJQ-container .tb-admin-records th,
.table-dataJQ-container .tb-admin-records td{
    padding:5px 10px;
    border: 1px solid var(--colorTableN3);
}
/*Título de columna*/
.table-dataJQ-container .tb-admin-records th{
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
    color:var(--home-text-color);
    cursor:pointer;
    font-size: var(--title-font-size);
}
/*Color de texto de cada fila*/
.table-dataJQ-container .tb-admin-records tbody tr{
    color:var(--home-text-color);
}

/**TABLA GENERAL NO RESPONSIVE*/
/*Tabla general*/
.noRESPtable-dataJQ-container .noRESPtb-admin-records{
    width: 100%!important;
    border-collapse: collapse;
    padding-left: 200px;
    padding-right: 200px;
    font-size: var(--phrgp-home-medium-font-size);
}
/*Espaciado de la tabla*/
.noRESPtable-dataJQ-container .noRESPtb-admin-records,
.noRESPtable-dataJQ-container .noRESPtb-admin-records th,
.noRESPtable-dataJQ-container .noRESPtb-admin-records td{
    padding:5px 10px;
    border: 1px solid var(--colorTableN3);
}
/*Título de columna*/
.noRESPtable-dataJQ-container .noRESPtb-admin-records th{
    font-weight: bolder;
    text-align: left;
    text-transform: uppercase;
    color:var(--home-text-color);
    cursor:pointer;
    font-size: var(--title-font-size);
}
/*Color de texto de cada fila*/
.noRESPtable-dataJQ-container .noRESPtb-admin-records tbody tr{
    color:var(--home-text-color);
}
/*?--------------Estilos Mostrar X registros (combobox)-------------*/
.dataTables_length{
    color: var(--home-text-color);
    line-height: 22.5px;
    font-size: var(--phrgp-home-normal-font-size);
    display: inline-block;
}
.form-select.form-select-sm {
    align-items: center;
    background-color: var(--white-home-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: var(--home-text-color-color);
    display: inline-block;
    font-size: var(--phrgp-home-normal-font-size);
    padding: 3.75px 15px 3.75px 7.5px;
    line-height: 22.5px;
}
select {
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0;
    background-image: none;
    flex: 1;
    cursor: pointer;
    text-align: start;
    font-weight: 400;
    border-radius: 55px;
    margin-left: 5px;
}
/*?------------------Barra de búsqueda---------------*/
.dataTables_filter {
    color: var(--home-text-color);
    line-height: 22.5px;
    display: inline-block;
    margin-top: 5px;
    font-size: var(--phrgp-home-normal-font-size);
    margin-bottom: 20px;
}
.form-control.form-control-sm {
    background-color: var(--white-home-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: var(--home-text-color);
    display: inline-block;
    font-size: var(--phrgp-home-normal-font-size);
    line-height: 22.5px;
    margin: 0px 0px 0px 6.5625px;
    padding: 3.75px 7.5px;
}
/*? ------------------Paginación y muestra de registros---------------*/
.dataTables_paginate {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dataTables_info{
    text-align: center;
    color:var(--home-text-color);
    font-size: var(--phrgp-home-normal-font-size);
    padding-top: 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    text-align: center;
}
.pagination li {
    margin: 0 5px;
    font-size: var(--phrgp-home-normal-font-size);
}
.pagination li a {
    color:var(--colorTableN2);
    text-decoration: none;
    transition: all .5s;
    font-weight: 400;
    padding: 5px;
    font-size: var(--phrgp-home-normal-font-size);
}
.pagination li a:hover {
    font-weight: 500;
    color: var(--colorTableN4);
}

/*? -----------------ESTILOS ESPECIALES DE LA TABLA*/
/** Estilo para eliminar redirección de etiquetas*/
.deleteRedireccionTable{
    pointer-events: none;
    cursor: default;
}
.deleteRedireccionTable:visited,
.deleteRedireccionTable:link{
    text-decoration: none;
    color:var(--home-text-color);
}
/*Texto italico*/
.italicTableStyle{
    font-style: italic;
}
/*Estilo para la redirección*/
.redireccionTable{
    font-weight: 500;
    text-decoration: none;
    color:var(--colorTableN4);
    transition: .5s all ease;
    display: flex;
    justify-content: space-between;
    gap:5px;
}
.redireccionTable:hover{
    color:var(--colorTableN2);
}
.tableFilterCounter{
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--colorTableN1);
    color: var(--home-background-color);
    height: fit-content;
}

/*IMAGEN USADA COMO ÍCONO PARA EL FILTRADO*/
.titleImgIcon{
    max-width: 60%;
    user-select: none;
    }

/*Títulos que empiecen por la letra:*/
.aLetraFiltro{
    display: inline-flex;
    flex-direction: row;
    margin-bottom: 7px;
    text-decoration: none;
    padding:0 4px;
    transition: .4s all;
    color:var(--text-home-color);
    border:1px solid var(--colorTableN3);
    border-radius: 2px;
}
.aLetraFiltro:hover{
    background-color: var(--colorTableN1);
    font-weight: 600;
    color:var(--white-home-color);
}
.liLetraFilto{
    list-style: none;
}

/*Estilo combo de seleccionar el año*/
#codano {
    align-items: center;
    background-color: var(--white-home-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color: var(--home-text-color-color);
    display: inline-block;
    font-size: var(--phrgp-home-normal-font-size);
    padding: 3.75px 15px 3.75px 7.5px;
    line-height: 22.5px;
}
/*Contenedor combo años*/
.containerComboAños{
    margin-bottom: -10px;
}
/*Estilo botón buscar año*/
.buttonSearchYear{
    align-items: flex-start;
    border-radius: 5px;
    border-style: none;
    display: inline-block;
    line-height: 22.5px;
    margin: 0 0 22.5px;
    padding: 3.75px 15px 3.75px 7.5px;
    text-align: center;
    cursor: pointer;
    font-size: var(--phrgp-home-normal-font-size);
    color: var(--text-color);
    transition: all .5s;
    text-decoration: none;
    border:1px solid var(--colorTableN1);
}
.buttonSearchYear:hover{
    background-color: var(--colorTableN1);
    color:var(--white-home-color);
}



/*! ******************** VISUALIZACIÓN RECURSO ******************/
/**Contenedor principal "Sección"*/
.containerVerRecurso{
    height: fit-content;
    border-radius: 5%;
    border-collapse: collapse;
    border: 0;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
    padding:20px;
}
/**Título de tabla para visualizar recurso*/
.containerVerRecursoTitulo{
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
    font-size: 0.9rem;
    color: var(--colorTableN2);
    user-select: none;
    font-size: var(--phrgp-home-normal-font-size);
    background: var(--colorTableN3);
    background: linear-gradient(360deg, var(--colorTableN4) 3%, var(--home-background-color) 100%);
    text-transform: uppercase;
}
/*Estilo de la tabla*/
.tableRecursoVisualizar{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid var(--colorTableN4);
}
/*Titulos de las columnas*/
.tituloColVerRecurso{
    padding: 10px;
    border:0;
    background:var(--white-home-color);
    border-bottom: 1px solid var(--gray-home-color);
    font-weight: 500;
    text-align: left;
    font-size: var(--phrgp-home-medium-font-size);
    color: var(--colorTableN2);
}
/*Información de las columnas*/
.infoColVerRecurso {
    background:var(--white-home-color);
    border-bottom: 1px solid var(--gray-home-color);
    border-left: 1px solid var(--gray-home-color);
    padding-left: 10px;
    padding-right: 10px;
    font-size: var(--phrgp-home-medium-font-size);
    color: var(--home-text-color);
}
/**Listas para redirigir. ENLACE DEL RECURSO*/
.redireccionVerRecurso{
    font-weight: 500;
    text-decoration: none;
    color:var(--colorTableN4);
    transition: .5s all ease;
    justify-content: space-between;
    gap:5px;
    word-wrap: break-word;
    word-break: break-all;
}
.redireccionVerRecurso:hover{
    color:var(--colorTableN2);
}
.ulVerRecurso{
    /* display: flex;
    flex-direction: column; */
    display: inline-block;
    flex-direction: column;
}
.liVerRecurso{
    list-style: none;
}

/**Acciones (botones) ARCHIVO DEL RECURSO*/
.btn-group-action{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    gap:10px;
}

.btn-group-action i{
    padding:3px 10px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    color:white;
    text-decoration: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s; 
}
.btnAccionesRecurso {
    border-radius: 5px;
    border-style: none;
    transition: all .5s;
    text-decoration: none;
    width: 48%;
}
/*Botón visualizar*/
.btnVisRec{
    background-color: var(--hexagonN3);
}
.btnVisRec:hover{
    background-color: var(--colorTableN4) ;
}
/*Botón descargar*/
.btnDescRec{
    background-color: var(--hover-navBarHome2);
}
.btnDescRec:hover{
    background-color: var(--hover-navBarHome1);
}
/*Botón calificar*/
.btnCalRec{
    background-color: #c99a35;
}
.btnCalRec:hover{
    background-color: #b8871e;
}
/*Botón favoritos*/
.btnFavRec{
    background-color: #e24b45;
}
.btnFavRec:hover{
    background-color: #882c27;
}

/**?--------------MODAL FEEDBACK-------------*/
/*Contenedor principal del modal (externo)*/
.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #0e0e0e8c;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Campos de texto: titulo, párrafo, campo de correo*/
.textosmodal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
}
/*Contenedor del modal (interno)*/
.modal-feedback {
    width: 100%;
    max-width: 600px; /* Puedes ajustar este valor según tus necesidades */
    height: fit-content;
    background-color: var(--white-home-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    transition: all .5s;
    transform: translateY(0%);
    border-radius: 10px;
    margin:15px;
}
/*Animación al momento de cerrar modal*/
.modal-close-feedback{
    transform: translateY(-200%);
}
/*Ajusta del tamaño de la imagen*/
.recover-password-pic{
    /* width: 70%; */
    max-width: 40%;
    margin-right: 0;
    padding-top: 20px;
    display: flex;
    align-self: center;
}
  /*Estilización para la X de cerrar */
.close{
    position: absolute;
    top:5px;
    right: 5px;
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #c44a4a;
    color:#fff;
    cursor: pointer;
    line-height: 25px;
    border-radius: 50%;
}
/*Estilo del párrafo*/
.phrp-feedback{
    color:var(--text-color);
    font-size: var(--phrgp-home-normal-font-size);
    margin-bottom: 18px;
}
/*Estilo del título*/
.title-feedback{
    color:#444;
    font-weight: 600;
    line-height: 1;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-decoration:underline;
}
.botones-accion-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow:hidden ;
}
/*Botón cerrar*/
.btn-close-add-record,
.btn-close-edit-record{
    background-color: #c44a4a;;
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
    transition: all 300ms ease;
    color:#fff;
    font-size: var(--phrgp-home-normal-font-size);
    border-style: none;
    margin-left: 10px;
    text-decoration: none;;
    text-align: center;
    display: flex;
    align-items: center;
} 
.btn-close-add-record:hover,
.btn-close-edit-record:hover{
    background-color: #7c3232;
}
/*Botón crear*/
.btn-submit-add-record,
.btn-admin-edit-record{
    background-color: var(--main-home-color);
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
    transition: all 300ms ease;
    color:#fff;
    border-style: none;
    font-size: var(--phrgp-home-normal-font-size);
}
.btn-submit-add-record:hover{
    background-color: #3e5992;
}
/**Estilos del radio*/
.radio {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}
.radio .inputRadio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.checkmark {
    display: inline-block;
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid var(--colorTableN3);
    margin-right: 10px;
    font-size: 10px;
}
.radio .inputRadio:checked ~ .checkmark {
    background-color: var(--colorTableN4);
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.radio .inputRadio:checked ~ .checkmark:after {
    display: block;
}
.label-text {
    margin-left: 5px;
    font-size: var(--phrgp-home-normal-font-size);
    color:var(--home-text-color);
}






/*! ************************** RESPONSIVE DESIGN *************/
@media all and (max-width:1070px){
    .mainContarinerFilters{
        padding: 0 1rem;
        display: inline;
    }
    .tableWithContent{
        padding-left: 30px;
        padding-right: 30px;
    }
    .asideFilters {
        display: block;
        margin-left: 100px;
        margin-right: 100px;
        border-radius: 10px;
    }
    .general-tableJQ-container .title .panel-title-name {
        font-size: var(--title-tablet-font-size);
    }
}

@media all and (max-width:850px){
    .nav-Home-Main .ul-Home{
        margin-right: 0px;
        float:left;
    }
    .nav-Home-Main .logo-Home{
        width: auto;
    }
    .nav-Home-Main .ul-Home .li-Home,
    .nav-Home-Main .ul-Home .ul-SubMenu .li-Home{
        display: block;
        width: 100%;
    }
    .nav-Home-Main .ul-Home .ul-SubMenu{
        top:70px;
        position: static;
        border-top:none;
        float:none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    .nav-Home-Main .ul-Home .ul-SubMenu ul li{
        position: static;
    }
    .show-Perfil{
        display: block;
        color:var(--main-home-color);
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .show-Perfil:hover{
        color:var(--main-home-color);
    }
    .hamburguer-Menu{
        display: inline-block;
        width: 25px;
        position: absolute;
        right: 40px;
        line-height: 70px;
        cursor:pointer;
        margin-top: 22px;
    }
    .nav-Home-Main .ul-Home .li-Home .a-HomeNav:hover{
        box-shadow: none;
    }
    .show-Perfil + .a-HomeNav, .ul-Home{
        display: none;
    }
    #checkHamburguesaHome:checked ~ .ul-Home{
        display: block;
        width:-moz-fit-content;
        width: fit-content;
        overflow-x: hidden;
        z-index: 9999;
        width: 100%;
        background: var(--white-home-color);
        border-top: 2px solid var(--main-home-color);
        box-shadow: 0px 10px 10px -6px var(--border-home-color);
        margin-bottom: 20px;
    }
    .homeHideListMin{
        display: none;
    }
    .nav-Home-Main .ul-Home .li-Home .a-HomeNav{
        font-size: var(--phrgp-home-medium-font-size);
    }
    .nav-Home-Main .logo-Home{
        font-size: var(--medium-font-size-mainSectionHome);
    }
    .bannerSearchHome-Section{
        margin-top:0;
    }
    .searchBar-IconContainer .search-iconHome{
        font-size: 1.3rem;
    }
    .searchBar-Container{
        height: 40px;
    }
    .searchBar-Container .input-SearchBar{
        font-size: var(--phrgp-home-medium-font-size);
    }
    .form-BarraBusquedaHome{
        max-width: 90%;
    }  
    .footer-Box .mainText-Footer{
        font-size: var(--phrgp-home-medium-font-size);
        max-width: 30rem;
    }
    .footer-Box .mainText-Footer{
        text-align: center;
    }
    .filters-main-container .containerFor-Filters{
        padding: 2rem 3rem 2rem 3rem;   
        grid-auto-rows:15rem;
    }
    .filters-main-container .filter-main-Title,
    .bodyFQ .fq-main-Title{
        font-size: var(--medium-font-size-mainSectionHome);
    }
    .list-Title-Table{
        font-size: var(--titleFilterHome-normal-fz);
    }
    .list-group-item .a-list-filter{
        font-size: var(--phrgp-home-medium-font-size);
    }
    .wrapperFAQ .labelFAQ .questionFAQ{
        font-size: var(--question-homepq-medium-font-size);
    }
    .wrapperFAQ .parentTabFAQ .contentFAQ .answerFAQ{
        font-size: var(--phrgp-home-medium-font-size);
    }
    .wrapperFAQ{
        max-width:85%;
    }
    .wrapperFAQ .labelFAQ .iconFAQ{
        height: 1.9rem;
        width: 1.9rem;
    }
    .msg-total-resources{
        font-size: var(--phrgp-home-medium-font-size);
        margin-left: 35px;
        margin-right: 35px;
    }
    .titleFilterHome{
        font-size: var(--titleFilterHome-medium-fz);
    }
    /*Forma hexagonal*/
    .filterHomeContainer .hexagonFilters .hexagonShape{
    position: relative;
    width: 160px;
    height: 190px;
    margin:0 5px;
    }
    #codano {
        font-size: var(--phrgp-home-medium-font-size);
    }
    .infoBotonesVerRec{
        padding:10px;
    }
    .title-feedback{
        font-size: 1.2rem;
    }
    .phrp-feedback,.label-text{
        font-size: var(--phrgp-home-medium-font-size);
    }
    .checkmark {
        height: 16px;
        width: 16px;
    }
    .centerInfoFooter{
        word-wrap: break-word;
        word-break: break-all;
    }
}

@media all and (max-width:600px){
    .footer-Container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .footer-Box {
        padding: 10px 40px;
    }
    .footer-Box .h2-title-Footer{
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }
    .footer-Box .logoFooter-Home {
        display: flex;
        justify-content: center;
    }
    .footer-Box .logoFooter-Home .logo-RI-footerHome{
        width: 130px;
    }
    .centerInfoFooter{
        flex-direction: column;
    }
    .footer-Box .link-a-footer {
        margin-top: 0;
        padding: 10px;
        text-align: center;
    }
    .filters-main-container .containerFor-Filters{
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    }
    .filters-main-container .containerFor-Filters{
        grid-auto-rows:12rem;
    }
    .wrapperFAQ{
        max-width:80%;
    }
    .wrapperFAQ .labelFAQ .iconFAQ{
        height: 1.7rem;
        width: 1.7rem;
    }
    .asideFilters {
        margin-left: 40px;
        margin-right: 40px;
    }
    .general-tableJQ-container .title .panel-title-name {
        font-size: var(--title-mobile-font-size);
    }
    .buttonSearchYear{
        font-size: var(--phrgp-home-medium-font-size);
    }
    
    
    /**DATATABLE RESPONSIVE*/
    .table-dataJQ-container .tb-admin-records{
        width: 100%!important;
    }
    .table-dataJQ-container .tb-admin-records tr{
        display: flex !important;
        flex-direction:column !important;
        border:1px solid rgba(160, 211, 190, 0.692)!important;
        padding:1em !important;
        margin-bottom: 1em !important;
        font-size: var(--phrgp-home-tiny-font-size)!important;
        /* pointer-events: none!important; */
    }

    .noRESPtable-dataJQ-container .noRESPtb-admin-records tr{
        font-size: var(--phrgp-home-tiny-font-size);
    }
    .titleTableFilterSearch {
        font-size: var(--question-homepq-medium-font-size);
    }

    .table-dataJQ-container .tb-admin-records td[data-titulo]{
        display: flex!important;
        justify-content: space-between!important;
        font-size: var(--phrgp-home-tiny-font-size)!important;
        gap: 50px;
        text-align: right;
    }
    .table-dataJQ-container .tb-admin-records td[data-titulo]::before{
        content: attr(data-titulo)!important;
        color:rgb(57, 109, 87)!important;
        font-weight: bolder!important;
    }
    .table-dataJQ-container .tb-admin-records thead{
        display:none!important;
    }
    .table-dataJQ-container .tb-admin-records,
    .table-dataJQ-container .tb-admin-records th,
    .table-dataJQ-container .tb-admin-records td{
    border: none;
    }
    .dataTables_length, .form-select.form-select-sm,.dataTables_filter, .form-control.form-control-sm,.dataTables_info,.pagination, .pagination li,.pagination li a{
        font-size: var(--phrgp-home-medium-font-size);
    }
    .containerVerRecursoTitulo{
        font-size: var(--phrgp-home-medium-font-size);
    }
    .tituloColVerRecurso, .infoColVerRecurso{
    font-size: var(--phrgp-home-tiny-font-size);
    }
}

@media all and (max-width:430px){
    .nav-Home-Main .logo-Home{
        display: none;
    }
    .nav-Home-Main .ul-Home .li-Home .a-HomeNav{
        font-size: var(--phrgp-home-tiny-font-size);
    }
    .searchBar-IconContainer .search-iconHome{
        font-size: 1rem;
    }
    .searchBar-Container{
        height: 35px;
    }
    .searchBar-Container .input-SearchBar{
        font-size: var(--phrgp-home-tiny-font-size);
    }
    .footer-Box .mainText-Footer{
        font-size: var(--phrgp-home-tiny-font-size);
    }
    .footer-Box .logoFooter-Home .logo-RI-footerHome{
        width: 100px;
    }
    .filters-main-container .filter-main-Title,
    .bodyFQ .fq-main-Title{
        font-size: var(--tiny-font-size-mainSectionHome);
    }
    .list-Title-Table{
        font-size: var(--titleFilterHome-medium-fz);
    }
    .list-group-item .a-list-filter{
        font-size: var(--phrgp-home-tiny-font-size);
        margin-top: 1px;
        margin-bottom: 1px;
    }
    .wrapperFAQ .labelFAQ .questionFAQ{
        font-size: var(--question-homepq-tiny-font-size);
    }
    .wrapperFAQ .parentTabFAQ{
        margin-bottom: 5px;
    }
    .wrapperFAQ .parentTabFAQ .contentFAQ .answerFAQ{
        font-size: var(--phrgp-home-tiny-font-size);
        padding: 10px;
        text-align: justify;
    }
    .wrapperFAQ{
        max-width:85%;
    }
    .wrapperFAQ .labelFAQ .iconFAQ{
        height: 1.5rem;
        width: 1.5rem;
    }
    .wrapperFAQ .parentTabFAQ .labelFAQ,
    .wrapperFAQ .answerFAQ .labelFAQ{
    padding: 5px 10px;
    }
    .wrapperFAQ .parentTabFAQ .contentFAQ{
        padding: 0px 1px;
    }
    .msg-total-resources{
        font-size: var(--phrgp-home-supertiny-font-size);
    }
    .titleFilterHome{
        font-size: var(--titleFilterHome-tiny-fz);
    }
    .filterHomeContainer .hexagonFilters .hexagonShape{
        position: relative;
        width: 140px;
        height: 170px;
        margin:5px;
        }
}

@media all and (max-width:370px){
    .form-control.form-control-sm {
    margin:0;
    width: 150px;
    }
}
