    /*Se importa la tipografía desde google*/
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

    /*?-------------------VARIABLES GLOBALES------------------------*/
    :root {
        --main-color: #DBA034;
        --text-color: #464646;
        --background-color: #e9e9e9;
        --row-altern-color: #dbdbdb;
        --row-selected-color: #c5c5c5;
        --white-color: #fff;
        --modal-container-color:rgb(227, 227, 227);
        --input-modify-info:#d9d9d9;
        --input-text-for-write:#464646d3;
        --modal-open-background-color:#0e0e0e7c;

        --create-button:#65ca65;
        --create-button-hover:rgb(30, 165, 64);
        --edit-button:rgb(36, 118, 151);
        --edit-button-hover:rgb(31, 84, 153);
        --delete-button:rgb(241, 95, 95);
        --delete-button-hover:rgb(187, 42, 42);

        --active-status-color: rgb(40, 158, 40);
        --inactive-status-color: rgb(255, 57, 57);
    
        --title-font-size: 2.2rem;
        --title-tablet-font-size: 2rem;
        --title-mobile-font-size: 1.8rem;

        --normal-font-size: 1.1rem;
        --pequeña-font-size: 0.9rem;

        --titlecards-font-size: 1.5rem;
        --numbercards-font-size: 1.9rem;
    }
    /*?----------------VARIABLES COLORES DARK MODE/MODO OSCURO-------------------*/
    body.dark {
        --text-color: #fff;
        --background-color: #1a1a1a;
        --row-altern-color: #616161;
        --row-selected-color: #121212;
        --white-color: #121212;
        --modal-container-color:#232323;
        --input-modify-info:#1e1e1e;
        --input-text-for-write:rgba(255, 255, 255, 0.564);
        --modal-open-background-color:#0e0e0ed8;
    }

/*?--------------------TITULO DE LAS SECCIONES GENERALES---------------------*/
    .general-admin-container .title {
        display: flex;
        align-items: center;
        margin: 25px 0 30px 0;
    }
    .general-admin-container .title i{
        position: relative;
        height: 40px;
        width: 40px;
        background-color: var(--main-color);
        border-radius: 50%;
        color: var(--white-color);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: var(--title-font-size);
    }
    .general-admin-container .title .panel-title-name{        
        font-size: var(--title-font-size);
        font-weight: 600;
        color: var(--text-color);
        margin-left: 10px;
        text-transform: uppercase;
    }

/*?-------------------PANEL DASHBOARD----------------------*/
/**Título*/
.dashboard-container .title {
    display: flex;
    align-items: center;
    margin: 25px 0 30px 0;
}
.dashboard-container .title i {
    position: relative;
    height: 40px;
    width: 40px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--title-font-size);
}
.dashboard-container .title .panel-title-name {
    font-size: var(--title-font-size);
    font-weight: 600;
    color: var(--text-color);
    margin-left: 10px;
    text-transform: uppercase;
}


/*?--------------TARJETAS PANEL-------------------*/
.dashboard-container .cards-container {
    display: grid;
    /*Espacio entre tarjetas*/
    gap: 1rem;
    /*Alto de la tarjeta*/
    grid-auto-rows: 14rem;
    /*Tarjetas ajustadas*/
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}
.dashboard-container .cards-container .card {
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    -webkit-user-select:none;
    user-select: none;
    text-transform: capitalize;
    text-decoration: none;
    background-color: var(--white-color);
    outline: 0.1rem dashed var(--text-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    position: relative;
}
/*Icono de la tarjeta*/
.cards-container .card i {
    font-size: 4rem;
    font-weight: 500;
    color: var(--text-color);
    z-index: 100;
    overflow: hidden;
}
/*Titulo de la tarjeta*/
.cards-container .card .cards-title-name {
    white-space: nowrap;
    font-size: var(--titlecards-font-size);
    font-weight: 400;
    color: var(--text-color);
    z-index: 100;
    overflow: hidden;

}
/*Número total de registros*/
.cards-container .card .cards-total-count {
    white-space: nowrap;
    font-size: var(--numbercards-font-size);
    font-weight: 600;
    color: var(--text-color);
    z-index: 100;
    overflow: hidden;

}

/**---EFECTO AL PASAR EL MOUSE*/
#cards:hover > .card::after {
    opacity: 1;
}
.card:hover::before {
    opacity: 1;
}
.dashboard-container .cards-container .card:hover::before {
    outline: 2px solid var(--main-color);
}
.card::before,
.card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 200ms;
    width: 100%;
}
.card::before {
    background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), rgba(250, 221, 59, 0.514),transparent 40%);
    z-index: 3;
}
.card::after {  
    background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), rgba(250, 221, 59, 0.164),transparent 30%);
    z-index: 1;
}

/*?--------------CHARTS: GRÁFICAS -------------------*/
.graphBox{
    position: relative;
    padding: 20px;
    display: grid;
    gap: 1rem;
    /*Contenedor ajustado a la pantalla*/
    grid-template-columns: repeat(auto-fit, minmax(40vw, 1fr));
}
.graphBox .box{
    position: relative;
    background-color: var(--background-color);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.466);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media queries para ajustar tamaños en diferentes tamaños de pantalla */

@media (max-width: 600px) {
    .graphBox {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .graphBox {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .graphBox {
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    }
}

@media (min-width: 1201px) {
    .graphBox {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    }
}

  /* Estilos para la gráfica */

canvas {
    max-height: 400px; /* Altura máxima de la gráfica */
    min-height: 200px; /* Altura mínima de la gráfica */
    width: 100%; /* Ancho de la gráfica */
}


/*?-------------------------BOTÓN NUEVO------------------*/
.btn-add-record{
    align-items: flex-start;
    background-color:  var(--create-button);
    border-radius: 5px;
    border-style: none;
    display:inline-block;
    line-height: 20px;
    font-size: 10px;
    margin: 0 0 22.5px;
    padding:8px 8px;
    text-align: center;
    cursor: pointer;
    font-size: var(--normal-font-size);
    color:var(--text-color);
    transition: all .5s;
    text-decoration: none;
}
.btn-add-record:hover{
    background-color:  var(--create-button-hover);
}

/*?-------------------MOSTRAR X REGISTROS----------------------*/
.dataTables_length{
    color:var(--text-color);
    line-height: 22.5px;
    font-size: var(--normal-font-size);
    display: inline-block;
}
label{
    color:var(--text-color);
    display:inline-block;
    font-size: var(--normal-font-size);
    line-height:22.5px;
    text-align: left;
}
.form-select.form-select-sm{
    align-items: center;
    background-color: var(--white-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color:var(--text-color);
    display: inline-block;
    font-size: var(--normal-font-size);
    padding:3.75px 15px 3.75px 7.5px;
    line-height:22.5px;
}

/*?---------------------BARRA DE BÚSQUEDA---------------------*/
.dataTables_filter{
    text-align: right;
    color:var(--text-color);
    line-height: 22.5px;
    display: inline-block;
    margin-top: 5px;
    font-size: var(--normal-font-size);
    margin-bottom: 20px;
}
.form-control.form-control-sm{
    background-color: var(--white-color);
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    color:var(--text-color);
    display:inline-block;
    font-size: var(--normal-font-size);
    line-height:22.5px;
    margin: 0px 0px 0px 6.5625px;
    padding:3.75px 7.5px;
}

/*?-----------------------TABLA DE REGISTROS -------------------*/
/*Tabla general*/
.table-admin-container .tb-admin-records{
    width: 100%!important;
    border-collapse: collapse;
    padding-left: 200px;
    padding-right: 200px;
    font-size: var(--normal-font-size);
}
/*Espaciado de la tabla*/
.table-admin-container .tb-admin-records,
.table-admin-container .tb-admin-records th,
.table-admin-container .tb-admin-records td{
    padding:5px 10px;
}
/*Título de columna*/
.table-admin-container .tb-admin-records th{
    font-weight: bolder;
    text-align: left;
    border-bottom: solid 1px var(--text-color);
    text-transform: uppercase;
    color:var(--text-color);
    cursor:pointer;
}
/*Color de texto de cada fila*/
.table-admin-container .tb-admin-records tbody tr{
    color:var(--text-color);
}
/*Color de fila coloreada al posicionarnos sobre un registro*/
.table-admin-container .tb-admin-records tbody tr:hover{
    background-color: var(--row-selected-color);
}
/*Estilo para estado activo e inactivo*/
.table-admin-container .tb-admin-records tbody tr .active::after,
.table-admin-container .tb-admin-records tbody tr .inactive::after{
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
}
.table-admin-container .tb-admin-records tbody tr .active::after{
    content: 'Activo';
    color:var(--active-status-color);
    font-weight: 500;
}
.table-admin-container .tb-admin-records tbody tr .inactive::after{
    content: 'Inactivo';
    color:var(--inactive-status-color);
    font-weight: 500;
}
/*?BOTONES TABLA: EDITAR Y ELIMINAR*/
/*Contenedor de los dos botones*/
.action-options-container{
    display: flex;
    flex-direction: row;
}
/*Estilo del ícono*/
.btn-group-action i{
    padding:8px 8px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    align-items: center;
    color:white;
    text-decoration: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.btn-admin-edit-record{
    background-color: var(--edit-button) ;
    border-radius: 5px;
    border-style: none;
    transition: all .5s;
    text-decoration: none;
}
.btn-admin-view-record{
    background-color: var(--create-button-hover) ;
    border-radius: 5px;
    border-style: none;
    transition: all .5s;
    text-decoration: none;
}
.btn-admin-view-record:hover{
    background-color: var(--create-button-hover) ;
}
.btn-delete-record{
    background-color:  var(--delete-button);
    border-radius: 5px;
    border-style: none;
    transition: all .5s;
}
.btn-admin-view-record:hover{
    background-color:  rgb(23, 128, 49);
}
.btn-delete-record:hover{
    background-color:  var(--delete-button-hover);
}

/*?---------------------MOSTRANDO DE X 1 X DE X ENTRADAS----------------------*/
.dataTables_info{
    color:var(--text-color);
    border-top: 1px solid var(--text-color);
    padding-top: 20px;
    font-size: var(--normal-font-size);
    display: inline-flex;
    justify-content: flex-start;
    position: absolute;
    line-height: 20px;
}

/*?--------------------PAGINACIÓN--------------------*/
.dataTables_paginate{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    border-top: 1px solid var(--text-color);
}
.pagination{
    display: flex;
    justify-content: space-around;
    width: 250px;
    list-style: none;
}
.pagination a{
    text-decoration: none;
    color:var(--text-color);
    transition: all .5s;
    font-size: var(--normal-font-size);
}
.pagination a:hover{
    font-weight: 500;
    color:var(--main-color);
}

/*?------------------------MODAL NUEVO/CREAR--------------------------*/
#btn-modal-admin-add-record, .btn-classmodal-editar-usuario{
    display:none;
}
.container-modal-add-record{
    width: 100%;
    height: 100vh;
    position:fixed;
    top:0;left:0;
    background-color: var(--modal-open-background-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99999999;
}
.container-modal-add-record-resource{
    width: 100%;
    height: 100vh;
    position:fixed;
    top:0;left:0;
    background-color: var(--modal-open-background-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
#btn-modal-admin-add-record:checked ~ .container-modal-add-record{
    display: flex;
}
#btn-modal-admin-add-record:checked ~ .container-modal-add-record-resource{
    display: flex;
}

.container-modal-edit-record{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
}
.content-modal-add-record,
.content-modal-edit-record{
    width: 100%;
    max-width: 400px;
    padding:20px;
    background-color: var(--modal-container-color);
    border-radius: 4px;
}
.content-modal-titulo{
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.875em;
    font-weight: 600;
    color:var(--text-color);
}
/*Párrafo recordatorio*/
.content-modal-recordatorio{
    color:var(--text-color);
    font-size: 0.7rem;
    text-align: center;
    margin-top: -15px;
    
}
/*Contenedor botones*/
.botones-accion-modal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
    overflow:hidden ;
}
/*Botón cerrar*/
.content-modal-add-record .btn-close-add-record,
.content-modal-edit-record .btn-close-edit-record{
    background-color: var(--delete-button);
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
    transition: all 300ms ease;
    color:#fff;
    font-size: var(--normal-font-size);
    border-style: none;
    margin-left: 10px;
    text-decoration: none;;
    text-align: center;
    display: flex;
    align-items: center;
}
.content-modal-add-record .btn-close-add-record:hover,
.content-modal-edit-record .btn-close-edit-record:hover{
    background-color: var(--delete-button-hover);
}
/*Botón crear*/
.content-modal-add-record .btn-submit-add-record,
.content-modal-edit-record .btn-admin-edit-record{
    background-color: var(--create-button);
    cursor: pointer;
    padding: 7px 10px;
    border-radius: 4px;
    transition: all 300ms ease;
    color:#fff;
    border-style: none;
    font-size: var(--normal-font-size);
}
.content-modal-edit-record .btn-admin-edit-record{
    background-color: var(--edit-button);
    text-decoration: none;
}
.content-modal-edit-record .btn-close-edit-record{
    background-color: var(--delete-button);
}
.content-modal-edit-record .btn-admin-edit-record:hover{
    background-color: var(--edit-button-hover);
}
.content-modal-add-record .btn-submit-add-record:hover{
    background-color: var(--create-button-hover);
}

/**Campos de los input*/
.input-field{
    max-width: 380px;
    width: 100%;
    background-color: var(--input-modify-info);
    margin: 7px 0;
    height: 55px;
    border-radius: 55px;
    display: grid;
    padding: 0 0.4rem;
    position: relative;
}
/*Eliminar lineas del número de doc*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance:none ;
    appearance:none ;
    margin:0;
}
/*Eliminar lineas del número de doc firefox*/
input[type=number]{
    -moz-appearance: textfield;
    -webkit-appearance:textfield;
    appearance: textfield;
}
/**Input al momento de digitar*/
.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: var(--normal-font-size);
    color:var(--text-color);
    padding-left: 5px;
}
/**Íconos bloqueados*/
.icon-locked{
    display: flex;
    justify-content: flex-end;
    align-self: center;
    width: 95%;
    position: absolute;
    flex-direction: row;
}

.icon-no-edit-allowed {
    text-align: center;
    line-height: 55px;
    color: var(--text-color);
    transition: 0.5s;
    font-size: var(--normal-font-size);
    color:var(--main-color);
    z-index: 1;
}

/**Estilo al placeholder del input*/
.input-field input::placeholder {
    color:var(--input-text-for-write);
    font-weight: 400;
}
/**Estilos del SELECT TAG (Tipo de documento)*/
select{
    appearance: none;
    outline: 0;
    box-shadow: none;
    border:0;
    background:  var(--input-modify-info);
    background-image: none;
    flex:1;
    color:var(--input-text-for-write);
    cursor:pointer;
    font-size: var(--normal-font-size);
    text-align: start;
    font-weight: 400;
    border-radius: 55px;
    margin-left: 5px;
}
select::-ms-expand{
    display: none;
}
.select-option{
    position:relative;
    display: flex;
    max-width: 380px;
    width: 100%;
    line-height: 3;
    background: var(--input-modify-info);
    overflow: hidden;
    border-color:var(--input-modify-info);
    border-radius: 55px;
    font-family: "Poppins", sans-serif;
}
.select-option::after{
    content: '\25BC';
    position: absolute;
    top:0;
    right: 0;
    padding:0 -2em;
    background-color: transparent;
    cursor:pointer;
    pointer-events: none;
    transition: .25s all ease;
    color:var(--input-text-for-write);
}
.select-option:hover::after{
    color:#383838;
}
.select-option.arrow-blocked::after{
    display: none;
}

/**Botón añadir archivo del recurso*/
/* .container-fileBtn input[type="file"]{
    appearance: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
} */
.container-fileBtn{
    display: inline-block;
    position: relative;
    background-color: var(--main-color);
    color: var(--text-color);
    border: 0;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    overflow: hidden;
    transition: ease-out 120ms background-color;
}
.container-fileBtn > i{
    margin-right: 15px;
}
.container-fileBtn:hover {
    background-color: #d69e36;
}
.container-fileBtn:active {
    background-color: #d89e33;
}
.container-fileBtn label{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    cursor: pointer;
}




/*Contenedor gereal del input*/
.fileUploadContainer {
    position: relative;
    height: auto;
    color: var(--text-color);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;    
    font-size: var(--normal-font-size);
    background-color:var(--input-modify-info);
    padding: 0;
}
/*Desaparece la selección y mensaje genérico*/
.inputUploadFile[type="file"] {
    display: none;
}
/*Nuevo campo para seleccionar archivo. Contenedor general*/
.labelFileUpload {
    display: block;
    position: relative;
    background-color: var(--main-color);
    font-size: var(--normal-font-size);
    text-align: center;
    width: 100%;
    padding: 1.12em 0;
    margin: auto;
    border-radius: 25px;
    cursor: pointer;
}
.labelFileUpload:hover {
    background-color: #d69e36;
}
.labelFileUpload:active {
    background-color: #d89e33;
}
/*Campo opcional para los archivos seleccionados...*/
#num-of-files {
    font-weight: 400;
    text-align: center;
    margin: 1.25em 0 1.87em 0;
}
#files-list {
    list-style-type: none;
    text-overflow: ellipsis;
    overflow: hidden;
}
/*Estilo del archivo cuando es seleccionado*/
.fileUploadContainer li {
    background-color:var(--input-modify-info);
    color: var(--main-color);
    font-size:var(--normal-font-size);
    padding: 1.1em 1em;
    -webkit-border-radius: 0 0 25px 25px;   
    -moz-border-radius: 0 0 25px 25px;  
    -ms-border-radius:0 0 25px 25px;  
    -o-border-radius: 0 0 25px 25px;  
    border-radius: 0 0 25px 25px;  
    max-width: 380px;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    line-height: 2;
    padding-right: 250px;
    font-size: medium;
}



/*?------------------ERROR EDITAR REGISTRO----------------*/
/*Contenedor general*/
.errorEditContainer{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 70vh;
}
/*Sección 1: Título y párrafo*/
.errorTextSection
{
    text-align: center;
}
/*Título*/
.title-errorTextSection{
    color:var(--text-color);
    font-size: var(--title-font-size);
}
/*Mensaje registro no se encuentra, no existe*/
.message-record-not-found{
    text-align: center;
    color:var(--text-color);
    font-size: var(--normal-font-size);
    padding-bottom: 20px;
}
/*Sección 2: Imagen*/
.img-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Imagen*/
.image-errorEditRecord{
    max-width: 40vw;
    object-fit: cover;
}
/*Botón volver atrás*/
.btn-UserNotFound{
    font-size: 1.1rem;
    background-color:  var(--main-color);
    border:none;
    cursor:pointer;
    width: 150px;
    outline: none;
    border-radius: 49px;
    color: #1a1a1a;
    text-transform:capitalize;
    font-weight: 600;
    cursor: pointer;
    margin-top: 20px;
    padding:5px;
    text-decoration: none;
    -webkit-border-radius: .3rem;
    -moz-border-radius: .3rem;
    -ms-border-radius: .3rem;
    -o-border-radius: .3rem;
    border-radius: .3rem;
    transition: all opacity .5s;
    -webkit-transition: all opacity .5s;
    -moz-transition: all opacity .5s;
    -ms-transition: all opacity .5s;
    -o-transition: all opacity .5s;
    text-align: center;
    transition: 0.5s;

}
/*Botón volver atrás con hover*/
.btn-UserNotFound:hover{
    background-color: #ffc965;
    -webkit-transition: all opacity .5s ;
    -moz-transition: all opacity .5s ;
    -ms-transition: all opacity .5s ;
    -o-transition: all opacity .5s ;  
    transition: all opacity .5s ;
}
/*Campo de texto grande con scroll*/
.textAreaStl{
    border: 0.4rem solid transparent;
    font-size: var(--normal-font-size);
    max-width: 380px;
    width: 100%;
    background-color: var(--input-modify-info);
    color: var(--text-color);
    margin: 7px 0;
    height: 200px;
    display: grid;
    padding: 0 0.4rem;
    position: relative;
    outline: none;
    line-height: 1.2;
    font-weight: 400;
    resize: none;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
    border-radius:25px;
    padding-top:5px;
}


/*?-------------------COMBOBOX MULTIPLE SELECCIÓN------------------------*/
/*Lista de opciones de selección*/
.mult-select-tag{
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
    position:relative;
    --tw-shadow:0 1px 3px 0 rgb(0 0 0 / 0.1),0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-color:0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
    --border-color:var(--input-text-for-write);
    color:var(--text-color);
    font-size: var(--normal-font-size);
}
.mult-select-tag .wrapper{
    width:100%;
}
/*Campo como "input" general*/
.mult-select-tag .body{
    display:flex;
    min-height:2.15rem;
    width: 100%;
    background-color: var(--input-modify-info);
    margin: 7px 0;
    height: 60px;
    border-radius: 55px;
    padding: 0 0.4rem;
    position: relative;
}
.mult-select-tag .input-container{
    display:flex;
    flex-wrap:wrap;
    flex:1 1 auto;
    padding:.1rem;
    overflow: auto;
    border: 0.2rem solid transparent;
}
.mult-select-tag .input-body{
    display:flex;
    width:100%;
}
/*Barra de búsqueda*/
.mult-select-tag .input{
    flex:1;
    background:0 0;
    border-radius:.25rem;
    padding:.45rem;
    margin:10px;
    color:var(--text-color);
    outline:0;
    border:1px solid var(--row-selected-color);
    -webkit-border-radius:.25rem;
    -moz-border-radius:.25rem;
    -ms-border-radius:.25rem;
    -o-border-radius:.25rem;
}
.mult-select-tag .btn-container{
    color:#e2ebf0;
    padding:.5rem;
    display:flex;
    border-left:1px solid var(--row-selected-color);
}
/*Flecha para abrir opciones*/
.mult-select-tag button{
    cursor:pointer;
    width:100%;
    color:var(--text-color);
    outline:0;
    height:100%;
    border:none;
    padding:0;
    background:0 0;
    background-image:none;
    -webkit-appearance:none;
    appearance: none;
    text-transform:none;
    margin:0;
}
.mult-select-tag button:first-child{
    width:1rem;
    height:90%;
}
/*Contenedor general del momento en que se abren las opciones*/
.mult-select-tag .drawer{
    position:absolute;
    background: var(--input-modify-info);
    max-height:15rem;
    z-index:40;
    top:98%;
    width:100%;
    overflow-y:scroll;
    border:1px solid var(--row-selected-color);
    border-radius:.25rem;
    -webkit-border-radius:.25rem;
    -moz-border-radius:.25rem;
    -ms-border-radius:.25rem;
    -o-border-radius:.25rem;
}
.mult-select-tag ul{
    list-style-type:none;
    padding:.5rem;
    margin:0;
}
.mult-select-tag ul li{
    padding:.5rem;
    border-radius:.25rem;
    cursor:pointer;
    -webkit-border-radius:.25rem;
    -moz-border-radius:.25rem;
    -ms-border-radius:.25rem;
    -o-border-radius:.25rem;
}
/*Hover al pasar por encima de las opciones*/
.mult-select-tag ul li:hover{
    background:var(--main-color);
}
/*Estilo al momento de seleccionar la opción*/
.mult-select-tag .item-container{
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--main-color);
    padding:.2rem .4rem;
    margin:.2rem;
    font-weight:500;
    border:1px solid var(--main-color);
    background:#ffe4b352;
    border-radius:9999px;
    -webkit-border-radius:9999px;
    -moz-border-radius:9999px;
    -ms-border-radius:9999px;
    -o-border-radius:9999px;
    height: fit-content;
}
.mult-select-tag .item-label{
    max-width:100%;
    line-height:1;
    font-size:.75rem;
    font-weight:400;
    flex:0 1 auto;
    color:var(--main-color);
}
.mult-select-tag .item-close-container{
    display:flex;
    flex:1 1 auto;
    flex-direction:row-reverse;
}
.mult-select-tag .item-close-svg{
    width:1rem;
    margin-left:.5rem;
    height:1rem;
    cursor:pointer;
    border-radius:9999px;
    display:block;
    -webkit-border-radius:9999px;
    -moz-border-radius:9999px;
    -ms-border-radius:9999px;
    -o-border-radius:9999px;
}
.hidden{
    display:none;
}
.mult-select-tag .shadow{
    box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}
/*Bordes del campo general*/
.mult-select-tag .rounded{
    border-radius:25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
}
/*Título label para el combo de selección multiple*/
.titleComboMultiple{
    font-size: var(--normal-font-size);
    padding-left: 5px;
    margin-top: 5px;
    color:var(--input-text-for-write);
}








/*?--------------------- RESPONSIVE DESIGN-----------------------*/
    @media (max-width:1000px) {
        .general-admin-container .title .panel-title-name {
            font-size: var(--title-tablet-font-size);
        }
        .dashboard-container .title .panel-title-name {
            font-size: var(--title-tablet-font-size);
        }
        .image-errorEditRecord{
            max-width: 42vw;
        }
        .title-errorTextSection{
            font-size: var(--title-tablet-font-size);
        }
        .message-record-not-found{
            font-size: 1.1rem;
        }
    }

    @media (max-width:850px) {
        .btn-add-record,
        .dataTables_length,
        label,
        .form-select.form-select-sm{
            font-size: var(--pequeña-font-size);
        }
        .table-admin-container .tb-admin-records{
            width: 100%!important;
        }
        .table-admin-container .tb-admin-records tr{
            display: flex !important;
            flex-direction:column !important;
            border:1px solid var(--text-color) !important;
            padding:1em !important;
            margin-bottom: 1em !important;
            font-size: var(--pequeña-font-size)!important;
            pointer-events: none!important;
        }
        .btn-group-action{
            pointer-events: all!important;
        }
        .table-admin-container .tb-admin-records td[data-titulo]{
            display: flex!important;
            justify-content: space-between!important;
            font-size: var(--pequeña-font-size)!important;
        }
        .table-admin-container .tb-admin-records td[data-titulo]::before{
            content: attr(data-titulo)!important;
            color:var(--text-color)!important;
            font-weight: bolder!important;
        }
        .table-admin-container .tb-admin-records thead{
            display:none!important;
        }
        .dataTables_paginate{
            display: inline-flex!important;
        }
        .pagination{
            display: flex!important;
            justify-content: space-around;
            margin-top: 40px!important;
        }
        .dataTables_info,
        .pagination a{
            font-size: var(--pequeña-font-size);
        }
        .content-modal-add-record{
            width: 90%;
        }
        .image-errorEditRecord{
            min-width: 65%;
        }
        tr .child{
            overflow:hidden !important;
            display: none !important;;
            border-color: transparent !important;;
        }
        .labelFileUpload{
            font-size: var(--normal-font-size);
        }
        .container-modal-add-record-resource{
            padding-top: 8rem;
            padding-bottom: 5%;
            overflow-y: scroll;
        }
        .container-modal-add-record{
            overflow-y: scroll;
        }
    }

    @media (max-width:500px) {
        .general-admin-container .title .panel-title-name {
            font-size: var(--title-mobile-font-size);
        }
        .btn-group-action i{
            font-size: 16px;
        }
        .btn-group-action{
            display: flex;
            margin-left: 10px;
        }
        .input-field,.labelFileUpload {
            margin: 5px 0;
            height: 40px;
        }
        .mult-select-tag .body{
            margin: 5px 0;
            height: 50px;
            margin-bottom: 10px;
        }
        .titleComboMultiple{
            font-size: var(--pequeña-font-size);
        }
        .mult-select-tag{
            font-size: var(--pequeña-font-size);
        }
        
        .input-field input {
        font-size: var(--pequeña-font-size);
        }
        .dashboard-container .title .panel-title-name {
            font-size: var(--title-mobile-font-size);
        }
        .image-errorEditRecord{
            max-width: 40%;
        }
        .title-errorTextSection{
            font-size: var(--title-mobile-font-size);
        }
        .message-record-not-found{
            font-size: var(--pequeña-font-size);
        }
        .btn-UserNotFound{
            font-size: 1rem;
            width: auto;
        }
        .errorEditContainer{
            height: auto;
        }
        select{
            font-size: var(--pequeña-font-size);
        }
        .content-modal-add-record .btn-close-add-record, .content-modal-edit-record .btn-close-edit-record{
            font-size: var(--pequeña-font-size);
        }
        .content-modal-add-record .btn-submit-add-record,
        .content-modal-edit-record .btn-admin-edit-record{
            font-size: var(--pequeña-font-size);
        }
        .form-control.form-control-sm{
            font-size: var(--pequeña-font-size);
            padding:3.75px 7.5px;
        }
        .textAreaStl{
            font-size: var(--pequeña-font-size);
        }
        .labelFileUpload,.fileUploadContainer li{
            font-size: var(--pequeña-font-size);
        }
        .container-modal-add-record-resource{
            padding-top: 5rem;
            padding-bottom: 10%;
        }
    }

    @media (max-width:400px) {
    .container-modal-add-record-resource{
            padding-top: 9rem;
        }
        .container-modal-add-record{
            padding-top: 2.5rem;
            margin-bottom: 3rem;
        }
    }

    @media (max-width:350px) {
    .container-modal-add-record-resource{
            padding-top: 20rem;
        }
    .container-modal-add-record{
            padding-top: 10rem;
            padding-bottom: 4rem;
        }
    }